<% valid = @validation_status_list.select {|s| !s.valid?}.empty? %>
<h1><%= @page.full_title %></h1>
<h2>Validation report</h2>
<div class="panel-group" id="validation_accordion">
  <% panel_class = valid ? 'panel-success' : 'panel-danger' %>
  <div class="panel <%= panel_class %>">
    <div class="panel-heading" id="validation_heading">
      <h5 class="panel-title">
        <a data-toggle="collapse" data-parent="#validation_accordion" href="#validation_status_list">
          <%= valid ? 'The page is valid.' : 'Validation errors have been found.' %>
        </a>
      </h5>
    </div>
    <div id="validation_status_list" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="panel-group" id="validation_status_accordion">
          <%= render partial: 'validation_status', collection: @validation_status_list %>
        </div>
      </div>
    </div>
  </div>
</div>
